<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - YatraMitra</title>
    
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    <div class="nav-bar" id="header">
    </div>
    <main>
        <section class="about-section">
            <div class="content">
                <div class="image">
                    <img src="../assets/FrontImg.png" alt="Phone Mockup">
                </div>
                <div class="text">
                    <h1>About Us</h1>
                    <h2>Your Travel Comrade</h2>
                    <p>Welcome to YatraMitra, your ultimate travel saathi. YatraMitra is created for the WebKriti competition by a team of three dedicated members. Our platform offers a seamless and comprehensive solution for booking airline, train, and bus tickets. With YatraMitra, you can explore various travel options, compare prices, and plan your trips with ease.</p>
                    <p>We aim to provide the best travel experience by ensuring a user-friendly interface, reliable services, and up-to-date information. Whether you're planning a vacation, a business trip, or just a weekend getaway, YatraMitra is here to assist you every step of the way.</p>
                    <br><a href="./contact.html"><button class="contact-btn">Contact Us</button></a>
                </div>
            </div>
            <div class="info-boxes">
                <div class="info-box">
                    <i class='bx bxs-phone'></i>
                    <h3>Call Us</h3>
                    <p>1 (234) 567-891</p>
                </div>
                <div class="info-box">
                    <i class='bx bxs-map'></i>
                    <h3>Location</h3>
                    <p>ABV IIITM<br>Gwalior, MP 474015</p>
                </div>
                <div class="info-box">
                    <i class='bx bxs-time'></i>
                    <h3>Hours</h3>
                    <p>Mon – Sun <br> 11 AM – 8 PM</p>
                </div>
            </div>
        </section>
        <footer class="footer" id="footer">
        </footer>
        
    </main>
    <script src="../scripts/navbar.js"></script>
</body>
</html>
